body { 
    background-color: rgb(114, 230, 191);
}

.title { 
    text-align: center;
    color: white;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 40px;
  max-width: 100px;
}
 
.flex-outer > li > label + *,
.flex-inner {
  flex: 40px;
}

.flex-outer li button {
    margin-left: 0px;
    padding: 8px 16px;
    border: none;
    background: rgb(255, 255, 255);
    color: #080808;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }

  .flex-inner li {
    width: 100px;
  }

  .flex-inner {
    justify-content: space-between;
  }

  .container * {
    box-sizing: border-box;
  }

  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 0px;
  }

  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }